.body {
    background: #252525;
    margin: 0;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #353535;
    border-radius: 8px;
    padding: 32px;
    border: none;
    max-width: 450px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.59);


   /*  box-shadow: inset -5px -5px 10px rgba(79, 79, 79, 0.69), inset 5px 5px 8px rgba(29, 29, 29, 0.69); */
}
/* .box button {
    display: block;
    width: 100%;
    margin: 8px 0 0 0;
    height: 35px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #009eb9;
    border: none;
    color: #fff;
}

.box label{
    display: block;
    font-size: 12px;
}
.box input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
    color: #fff;
}
span {
    display: block;
    color: tomato;
    font-size: x-small;
}

.box button:disabled{
    background-color: #727272; 
}


 */